$primary-color: #009fe3;
$primary-grey: lighten(desaturate($primary-color, 75%), 10%);

$secondary-color: #00e6ff;
$secondary-grey: lighten(desaturate($secondary-color, 75%), 10%);

$accent-color: #02ffc0;
$accent-grey: lighten(desaturate($accent-color, 75%), 10%);

// $light: lighten(desaturate($primary-color, 91%), 55%);
$light: #e6ffff;

//$dark: darken(desaturate($primary-color, 85%), 25%);
$dark: #000b0c;

$grey: desaturate($primary-color, 87%);

$grey-100: lighten($grey, 40%);
$grey-200: lighten($grey, 30%);
$grey-300: lighten($grey, 20%);
$grey-400: lighten($grey, 10%);
$grey-500: $grey;
$grey-600: darken($grey, 10%);
$grey-700: darken($grey, 15%);
$grey-800: darken($grey, 20%);
$grey-900: darken($grey, 25%);

$gradient: linear-gradient(45deg, $primary-color, $secondary-color);

$colors: (
	primary: $primary-color,
	primary-grey: $primary-grey,
	secondary: $secondary-color,
	secondary-grey: $secondary-grey,
	accent: $accent-color,
	accent-grey: $accent-grey,
	light: $light,
	dark: $dark,
	grey: $grey,
	grey-100: $grey-100,
	grey-200: $grey-200,
	grey-300: $grey-300,
	grey-400: $grey-400,
	grey-500: $grey,
	grey-600: $grey-600,
	grey-700: $grey-700,
	grey-800: $grey-800,
	grey-900: $grey-900,
);

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;1,300;1,600&display=swap');
$main-font: 'Montserrat', 'Trebuchet MS', sans-serif;

$regular: 300;
$bold: 600;

$max-width: 1100px;

$w1-3: calc(100% / 3);
$w2-3: calc((100% / 3) * 2);
