.about-page {
	position: relative;

	&__header {
		background: linear-gradient($dark, $primary-grey);
		display: flex;
		height: 80vh;
		min-height: 400px;
		max-height: 700px;
		position: relative;

		.acf-image {
			height: 100%;
			opacity: 0.5;
			position: absolute;
			width: 100%;
			z-index: 0;

			img {
				height: 100%;
				object-fit: cover;
				width: 100%;
			}
		}

		.header-content {
			align-self: flex-end;
			padding: 0 1rem;
			position: relative;
			width: 100%;
			z-index: 2;

			&:before {
				background: $gradient;
				content: '';
				height: 130%;
				left: 0;
				position: absolute;
				top: -15%;
				width: 50%;
				z-index: 1;
			}

			.about-title {
				color: $light;
				font-size: 2.5rem;
				margin: 0 auto;
				max-width: $max-width;
				padding: 0 0 0 2rem;
				position: relative;
				width: 100%;
				z-index: 2;
			}

			.about-text {
				border: 1px solid $light;
				font-size: 1.25rem;
				margin: 1rem auto;
				max-width: $max-width;
				padding: 2rem;
				position: relative;
				z-index: 2;

				p {
					//@extend .bold;

					padding-right: 2rem;
					width: 50%;
					margin: 0;
					text-align: justify;
				}
			}
		}
	}

	&__mission,
	&__clients {
		margin: 6rem auto;
		max-width: calc(#{$max-width} + 2rem);
		padding: 1rem;
		position: relative;
		width: 100%;

		.mission-content,
		.clients-content {
			border: 1px solid $secondary-color;
			max-width: $max-width;
			padding: 3rem calc(50% + 2rem) 3rem 3rem;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 100%;
			z-index: 1;

			.mission-text,
			.clients-text {
				padding-right: 3rem;
				margin: 0 0 1rem;
				width: 100%;

				p {
					color: $grey-700;
					font-size: 1.25rem;
					margin: 0;
				}
			}
		}

		.acf-image {
			position: relative;
			transform: translateX(calc(100% + 1rem));
			width: 50%;

			&:before {
				background: $gradient;
				content: '';
				height: 100%;
				left: -2rem;
				mix-blend-mode: multiply;
				position: absolute;
				top: 2rem;
				width: 100%;
				z-index: 5;
			}

			.bg-placeholder-img {
				filter: blur(20) grayscale(1) !important;
			}

			img {
				display: block;
				filter: grayscale(1);
				height: 100%;
				object-fit: cover;
				position: relative;
				width: 100%;
			}

			&.loaded {
				overflow: initial;
			}
		}
	}

	&__clients {
		margin: 24rem auto 6rem;

		&:after {
			background: $dark;
			content: '';
			height: calc(100% + 4rem);
			left: 50%;
			position: absolute;
			top: -2rem;
			transform: translateX(-50%);
			width: 100vw;
			z-index: -1;
		}

		.acf-image {
			bottom: 0;
			left: 0;
			position: absolute;
			transform: translateX(0);
			width: 50%;

			&:before {
				content: none;
			}

			img {
				filter: grayscale(0.7);
			}
		}

		.clients-content {
			padding: 3rem 3rem 3rem calc(50% + 3rem);
			position: relative;
			top: 0;
			transform: translateY(0);

			.clients-text {
				margin: 0;
				padding: 0;

				p {
					color: $secondary-color;
				}
			}
		}
	}

	&__closing {
		background: $light;
		margin: 12rem auto;
		padding: 0 1rem;

		.closing-content {
			align-items: center;
			border: 3px solid $secondary-grey;
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin: 0 auto;
			max-width: $max-width;
			padding: 4rem;
			position: relative;
			top: -2rem;
			width: 100%;

			p {
				font-size: 2.5rem;
				margin: 0;
				text-align: center;

				&:first-of-type {
					color: $primary-color;
				}
			}

			.button {
				margin-top: 2rem;
			}
		}
	}
}
