.about-page {
	position: relative;
	overflow: hidden;

	&__header {
		background: linear-gradient($dark, $primary-grey);
		display: flex;
		height: 80vh;
		min-height: 400px;
		max-height: 700px;
		position: relative;

		.acf-image {
			height: 100%;
			opacity: 0.5;
			position: absolute;
			width: 100%;
			z-index: 0;

			img {
				height: 100%;
				object-fit: cover;
				width: 100%;
			}
		} /* .acf-image */

		.header-content {
			align-self: flex-end;
			padding: 0 1rem;
			position: relative;
			width: 100%;
			z-index: 2;

			&:before {
				background: $gradient;
				content: '';
				height: 130%;
				left: 0;
				position: absolute;
				top: -15%;
				width: 50%;
				z-index: 1;
			}

			.about-title {
				color: $light;
				font-size: 2.5rem;
				margin: 0 auto;
				max-width: $max-width;
				padding: 0 0 0 2rem;
				position: relative;
				width: 100%;
				z-index: 2;
			}

			.about-text {
				align-items: center;
				display: flex;
				font-size: 1.25rem;
				margin: 1rem auto;
				max-width: $max-width;
				position: relative;
				z-index: 2;

				p {
					padding: 3rem;
					width: 50%;
					margin: 0;

					&:first-of-type {
						@extend .bold;

						color: $light;
						letter-spacing: 0.1rem;
						text-transform: uppercase;
					}

					strong {
						display: block;
						letter-spacing: 0.1rem;
						text-transform: uppercase;
					}
				}
			} /* .about-text */
		} /* .header-content */
	} /* __header */

	&__mission,
	&__clients {
		margin: 6rem auto;
		max-width: calc(#{$max-width} + 2rem);
		padding: 1rem;
		position: relative;
		width: 100%;

		.mission-content,
		.clients-content {
			//border: 1px solid $secondary-color;
			max-width: $max-width;
			padding: 3rem calc(50% + 2rem) 3rem 3rem;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: calc(100% - 2rem);
			z-index: 1;

			.mission-text,
			.clients-text {
				padding-right: 3rem;
				margin: 0 0 1rem;
				text-align: right;
				width: 100%;

				h1,
				h2,
				h3,
				h4 {
					color: $secondary-color;
					font-size: 1.5rem;
					letter-spacing: 0.1rem;
					line-height: 1;
					margin: 0 0 1rem;
					text-transform: uppercase;
				}

				p {
					color: $secondary-color;
					font-size: 1.25rem;
					letter-spacing: 0.1rem;
					line-height: 1.2;
					margin: 0;
					text-transform: uppercase;
				}
			} /* mission/clients -text */
		} /* __mission/__clients -content*/

		.acf-image {
			position: relative;
			transform: translateX(calc(100% + 1rem));
			width: 50%;

			&:before {
				background: $gradient;
				content: '';
				height: 100%;
				left: 0;
				mix-blend-mode: multiply;
				position: absolute;
				top: 0;
				transition: all 0.5s ease-in 0.5s;
				width: 100%;
				z-index: 5;
			}

			.bg-placeholder-img {
				filter: blur(20) grayscale(1) !important;
			}

			img {
				display: block;
				filter: grayscale(1);
				height: 100%;
				object-fit: cover;
				position: relative;
				width: 100%;
			}

			&.loaded {
				overflow: initial;
			}
		} /* .acf-image */

		&.aos-animate {
			.acf-image {
				&:before {
					left: -2rem;
					top: 2rem;
				}
			}
		}
	} /* __mission/__clients */

	&__clients {
		margin: 24rem auto 6rem;

		&:after {
			background: $dark;
			content: '';
			height: calc(100% + 4rem);
			left: 50%;
			position: absolute;
			top: -2rem;
			transform: translateX(-50%);
			width: 100vw;
			z-index: -1;
		}

		.acf-image {
			bottom: -4rem;
			left: 0;
			position: absolute;
			transform: translateX(0);
			transition: all 0.7s ease-in-out 0.5s;
			width: 50%;

			&:before {
				content: none;
			}

			img {
				filter: grayscale(0.7);
			}
		}

		.clients-content {
			padding: 3rem 3rem 3rem calc(50% + 3rem);
			position: relative;
			top: 0;
			transform: translateY(0);
			width: 100%;

			.clients-text {
				margin: 0;
				padding: 0;
				text-align: left;
				overflow: hidden;

				p {
					color: $light;
					text-transform: none;
				}
			}
		}

		&.aos-animate {
			.acf-image {
				bottom: 0;
			}
		}
	}

	&__closing {
		background: $light;
		margin: 14rem auto;
		padding: 0 1rem;

		.closing-content {
			align-items: center;
			//border: 3px solid $secondary-grey;
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin: 0 auto;
			max-width: $max-width;
			padding: 4rem;
			position: relative;
			top: -2rem;
			width: 100%;

			p {
				font-size: 2rem;
				letter-spacing: 0.1rem;
				margin: 0;
				text-align: center;
				text-transform: uppercase;

				&:first-of-type {
					color: $primary-color;
					font-size: 2.25rem;
					letter-spacing: normal;
					text-transform: none;
				}
			}

			.button {
				margin-top: 2rem;
			}
		}
	}
}
