.about-landing {
	background: $light;
	position: relative;

	.about-video {
		background: $dark;
		height: 500px;
		overflow: hidden;
		position: relative;
		width: 100%;
		z-index: 1;

		@include tablet {
			height: 400px;
		}

		@include phone {
			height: 250px;
		}

		&:before {
			background: $gradient;
			content: '';
			height: calc(100% - 3rem);
			left: 3rem;
			mix-blend-mode: multiply;
			position: absolute;
			top: 3rem;
			width: calc(100% - 6rem);

			@include tablet {
				height: calc(100% - 2rem);
				left: 1rem;
				top: 1rem;
				width: calc(100% - 2rem);
			}
		}

		video {
			width: 100%;

			//@include responsive-video;
		}

		&:after {
			background: rgba($dark, 0.5);
			box-shadow: inset 0 0 150px 120px rgba($dark, 0.7);
			content: '';
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 1;
		}
	}

	.about-text-content {
		background: $gradient;
		display: flex;
		flex-direction: column;
		height: 100%;
		left: 0;
		margin: 0 auto;
		padding: 0 1rem;
		position: relative;
		top: -3rem;
		width: calc(100% - 6rem);
		z-index: 2;

		@include tablet {
			width: calc(100% - 2rem);
		}

		.about-text {
			border: 1px solid transparent;
			margin: 2rem auto 4rem;
			max-width: 900px;
			padding: 3rem 0;
			position: relative;
			transition: all 0.5s ease-in-out 0.5s;
			width: 100%;
			z-index: 2;

			@include tablet {
				border: 1px solid $light;
				padding: 3rem 1rem 4rem;
				margin: 2rem auto;
			}

			p {
				color: $dark;
				font-size: 1.25rem;
				margin: 0 auto 2rem;
				max-width: 800px;
				text-align: center;

				@include tablet {
					font-size: 1rem;
				}
			}

			.post-img {
				opacity: 0;
				margin: 3rem auto;
				width: 80px;

				svg {
					g {
						* {
							fill: $dark !important;
						}

						&#border {
							* {
								fill: $light !important;
							}
						}
					}
				}
			}
		}

		.about-btn {
			opacity: 0;
			margin: auto;
			position: absolute;
			bottom: 3rem;
			left: 50%;
			transform: translateX(-50%);
			z-index: 5;

			@include tablet {
				bottom: 4rem;
			}
		}

		&.aos-animate {
			.about-text {
				@extend .border-cut--light-bottom;
				max-width: $max-width;

				.post-img {
					animation: fadeIn 0.5s linear 1.5s forwards;
				}
			}

			.about-btn {
				animation: fadeIn 0.5s linear 2.5s forwards;
			}
		}
	}
}
