.gallery-modal {
	animation: fadeIn 0.4s 1;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	height: 100vh;
	left: 0;
	opacity: 1;
	position: fixed;
	top: 0;
	transition: all 0.5s;
	width: 100%;
	z-index: 90;

	@include tablet {
		top: 60px;
	}

	.inner-modal {
		align-self: center;
		background: rgba(0, 0, 0, 0.3);
		height: calc(100% - 60px);
		margin: 30px auto 0;
		max-height: 1000px;
		max-width: 1200px;
		position: relative;
		width: 80%;

		@include tablet {
			height: auto;
		}

		&.with-spinner:before {
			animation: spin 0.8s linear infinite;
			border: 6px solid #bbb;
			border-left: 6px solid #eee;
			border-radius: 50%;
			content: '';
			height: 60px;
			left: 0;
			margin: 0 auto;
			position: absolute;
			right: 0;
			top: calc(50% - 30px);
			width: 60px;
			z-index: -1;
		}

		.close-modal {
			background: #fff;
			border-radius: 50%;
			cursor: pointer;
			height: 30px;
			position: absolute;
			right: -15px;
			text-align: center;
			top: -15px;
			width: 30px;
			font-size: 2rem;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		img {
			box-shadow: 0 0 120px rgba(0, 0, 0, 0.5);
			display: block;
			height: 100%;
			object-fit: cover;
			opacity: 0;
			transition: 0.4s;
			width: 100%;
		}

		.modal-nav {
			display: flex;
			justify-content: space-between;
			position: absolute;
			top: calc(50% - 30px);
			height: 60px;
			width: 100%;

			span {
				color: #fff;
				cursor: pointer;
				font-size: 3rem;
				line-height: 3rem;
				opacity: 0.5;
				transition: all 0.3s;

				&:hover {
					opacity: 1;
				}
			}
		}
	}

	&.fade {
		opacity: 0;
	}
}
