.site-header {
	background: linear-gradient($dark, transparent);
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 99;

	&__content {
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		max-width: $max-width;
		position: relative;

		.site-logo {
			margin: 1rem 0 0;
			padding: 1rem;
			width: 90px;

			@include tablet {
				margin: 0;
				width: 70px;
			}

			a {
				display: flex;
				text-decoration: none;

				.custom-logo {
					margin: auto;
					width: 100%;
				}
			}
		}

		.navigation {
			padding: 1rem 0 0;

			@include tablet {
				background: $dark;
				position: fixed;
				right: calc(-301px - 4rem);
				top: 0;
				transition: all 0.5s ease-in-out;
				z-index: 7;
			}

			.nav-list {
				display: flex;

				@include tablet {
					flex-direction: column;
					height: 100vh;
					justify-content: center;
					padding: 2rem;
					width: 300px;
				}

				.menu-item {
					margin: 0.5rem;

					a {
						color: $light;
						display: block;
						font-size: 0.85rem;
						letter-spacing: 0.1rem;
						padding: 0.5rem 0.25rem;
						position: relative;
						text-decoration: none;
						text-transform: uppercase;
						transition: all 0.4s;

						&:after {
							background: transparent;
							bottom: 0.5rem;
							content: '';
							height: 1px;
							left: 0;
							position: absolute;
							transition: all 0.4s;
							width: 100%;
						}
					}

					a:hover,
					&.current-menu-item a {
						color: $secondary-color;

						&:after {
							background: $secondary-color;
							bottom: 0;
						}
					}
				}
			}
		}

		.menutoggle {
			display: none;

			@include tablet {
				background: transparent;
				display: block;
				height: 45px;
				position: fixed;
				right: 0;
				top: 1rem;
				user-select: none;
				width: 50px;
				z-index: 9;
				-webkit-touch-callout: none;

				&:checked {
					~ .shaddow {
						background: rgba($dark, 0.7);
						pointer-events: initial;
					}

					~ label {
						background: $primary-color;

						.bars {
							.bar {
								bottom: 0;
								margin: auto;
								position: absolute;
								top: 0;

								&:first-child {
									transform: rotate(45deg);
									transform-origin: center;
								}
								&:last-child {
									transform: rotate(-45deg);
									transform-origin: center;
								}

								&:nth-child(2) {
									opacity: 0;
								}
							}
						}
					}

					~ .navigation {
						right: 0;
					}
				}
			}
		}

		.shaddow {
			display: none;

			@include tablet {
				background: rgba($dark, 0);
				display: block;
				height: 100%;
				left: 0;
				pointer-events: none;
				position: fixed;
				top: 0;
				transition: all 0.3s;
				width: 100%;
				z-index: 6;
			}
		}

		.mobile-menu {
			display: none;

			@include tablet {
				background: $dark;
				display: block;
				height: 45px;
				padding: 1rem;
				position: fixed;
				right: 0;
				top: 1rem;
				transition: all 0.3s;
				width: 50px;
				z-index: 8;

				.bars {
					display: flex;
					flex-direction: column;
					height: 100%;
					justify-content: space-between;
					position: relative;
					width: 100%;

					.bar {
						background: $light;
						height: 1px;
						transition: all 0.3s;
						width: 100%;
					}
				}
			}
		}
	}
}
