.projects-landing {
	margin: 10vh auto 15%;
	max-width: calc(#{$max-width} + 2rem);
	padding: 1rem;
	position: relative;
	width: 100%;

	.acf-image {
		height: 300px;
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%) translateX(-100%);
		width: calc(#{$max-width} * 0.3); // 30%
		z-index: 0;

		&:before {
			background: $gradient;
			content: '';
			height: 100%;
			left: -2rem;
			mix-blend-mode: multiply;
			position: absolute;
			top: 2rem;
			width: 100%;
			z-index: 5;
		}

		.bg-placeholder-img {
			filter: blur(20) grayscale(1) !important;
		}

		img {
			display: block;
			filter: grayscale(1);
			height: 100%;
			object-fit: cover;
			position: relative;
			width: 100%;
		}

		&.loaded {
			overflow: initial;
		}
	}

	&__content {
		max-width: $max-width;
		padding: 3rem 2rem 3rem calc(50% + 2rem);
		position: relative;
		width: 100%;

		.projects-text {
			margin: 0 0 1rem;
			width: 60%;

			p {
				color: $primary-color;
				font-size: 1.25rem;
			}
		}

		.button {
			display: inline-block;
			margin-top: 1rem;
		}

		&:after {
			border: 1px solid $secondary-color;
			content: '';
			height: 100%;
			left: 0;
			pointer-events: none;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
}
