.projects-page {
	padding: 180px 0 0;
	position: relative;

	&:before {
		content: '';
		background: $dark;
		position: absolute;
		height: 250px;
		width: 100%;
		z-index: -1;
		top: 0;
	}

	&__header {
		height: 250px;
		padding: 0 1rem;
		margin: 0 0 6rem;

		.header-content {
			//border: 1px solid $grey;
			margin: 0 auto;
			max-width: $max-width;
			padding: 3rem;
			position: relative;
			width: 100%;

			.projects-title {
				color: $light;
				font-size: 2rem;
				text-align: center;
				margin: 0 0 1rem;
			} /* .projects-title  */

			&:after {
				background: $gradient;
				content: '';
				height: 130%;
				left: 0;
				margin: 0 auto;
				position: absolute;
				right: 0;
				top: -15%;
				width: 50%;
				z-index: -1;
			} /* after  */

			.projects-intro {
				margin: 0 auto;
				width: 70%;

				p {
					font-size: 1.25rem;
					letter-spacing: 0.1rem;
					line-height: 1.3;
					margin: 0;
					text-align: center;
					text-transform: uppercase;

					strong {
						display: block;
					}
				}
			} /* .projects-intro  */
		} /* .header-content  */
	} /* __header  */

	.projects-list {
		overflow: hidden;
		padding: 3rem 1rem;
		position: relative;

		.project-item {
			align-items: center;
			display: flex;
			margin: 0 auto 6rem;
			max-width: $max-width;
			position: relative;
			width: 100%;

			.acf-image {
				background: $grey;
				height: calc(100% + 4rem);
				left: 1rem;
				position: absolute;
				top: -2rem;
				width: calc(50% - 1rem);
				z-index: 0;

				img {
					height: 100%;
					object-fit: cover;
					position: relative;
					width: 100%;
				}
			} /* .acf-image */

			.project-details {
				//border: 1px solid $secondary-color;
				padding: 3rem;
				position: relative;
				z-index: 1;

				.project-title {
					color: $primary-color;
					letter-spacing: 0.1rem;
					margin: 0 0 1rem;
					text-transform: uppercase;
				}

				.project-gallery {
					position: relative;

					.gallery-scroll {
						overflow: hidden;
						position: relative;

						&:after,
						&:before {
							content: '';
							height: 100%;
							width: 4rem;
							top: 0;
							position: absolute;
							z-index: 9;
						}

						&:before {
							//background: linear-gradient(90deg, white, transparent);
							left: 0;
						}

						&:after {
							background: linear-gradient(90deg, transparent, white);
							right: 0;
						}

						.slider {
							display: flex;
							transition: all 0.3s;
							position: relative;
							left: 0;

							.image-block {
								cursor: pointer;
								min-width: 18%;
								transition: all 0.3s;

								img {
									display: block;
									height: 150px;
									object-fit: cover;
									width: 100%;
									transition: all 0.4s;
								}

								&:hover {
									opacity: 0.8;
								}
							}
						}
					}

					.prevnext {
						display: flex;
						justify-content: space-between;
						left: -2rem;
						pointer-events: none;
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						width: calc(100% + 4rem);

						.arrow {
							cursor: pointer;
							font-size: 1.25rem;
							font-weight: bold;
							pointer-events: initial;
							display: flex;
							width: 2rem;
							height: 2rem;

							.icon {
								color: $dark;
								margin: auto;
								line-height: 2rem;
							}

							&:hover {
								background: $grey-100;
							}
						}
					}
				}
			} /* .project-gallery */
		} /* .project-item */
	} /* .projects-list  */
} /* .projects-page  */
